---
import IconCard from "../components/IconCard.astro";
import personalPhoto from "../assets/personal_photo.png";
import arxivIcon from "../assets/arxiv.ico";
import { icon } from "@fortawesome/fontawesome-svg-core";
import { faMapMarkerAlt } from "@fortawesome/free-solid-svg-icons";
import {
  faGithub,
  faYoutube,
  faLinkedin,
  faGoogleScholar,
  faResearchgate,
} from "@fortawesome/free-brands-svg-icons";
const { text_color_1 = "rgb(105, 87, 20)", text_color_2 = "black" } =
  Astro.props;
---

<a style={`--text-color-1: ${text_color_1};`} href="/">
  <img src={personalPhoto.src} alt="Mohamed Tarek" />
  <p>Mohamed Tarek</p>
</a>
<section style={`--text-color-2: ${text_color_2};`}>
  <div>
    <IconCard icon={icon(faMapMarkerAlt)}> Sharjah </IconCard>
    <IconCard href="https://github.com/mohdibntarek/" icon={icon(faGithub)}>
      GitHub
    </IconCard>
    <IconCard
      href="https://www.linkedin.com/in/mohdibntarek/"
      icon={icon(faLinkedin)}
    >
      LinkedIn
    </IconCard>
    <IconCard
      href="https://www.youtube.com/@MrMohamed82008/"
      icon={icon(faYoutube)}
    >
      YouTube
    </IconCard>
    <IconCard
      href="https://scholar.google.com/citations?user=mXZ8aioAAAAJ&hl=en"
      icon={icon(faGoogleScholar)}
    >
      Google Scholar
    </IconCard>
    <IconCard
      href="https://www.researchgate.net/profile/Mohamed-Tarek-18/"
      icon={icon(faResearchgate)}
    >
      ResearchGate
    </IconCard>
    <IconCard href="https://arxiv.org/a/tarek_m_1.html/" path={arxivIcon}>
      arXiv
    </IconCard>
  </div>
</section>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  a {
    font-size: 1.125rem;
    color: var(--text-color-1);
    img {
      width: 7rem;
      border-radius: 3.5rem;
      margin: 1em;
    }
    p {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 1em;
    }
  }
  section {
    color: var(--text-color-2);
  }
</style>
